<div class="footer">
    <div class="footer-heading">
        <h2><span>УМ</span>ЕЛИКО</h2>
        <p>Даваме възможност на всеки, без значение от квалификациите, да изрази своите интереси и хобита.</p>
    </div>
    <div class="footer-links">
        <div class="footer-links-column">
            <h3>Автори</h3>
            <p>Стефани Кочева</p>
            <p>Таня Божкова</p>
        </div>
        <div class="footer-links-column">
            <h3>Намерете ни на: </h3>
            <p>Email: umeliko.team@gmail.com</p>
            <p>Instagram: umeliko</p>
        </div>
    </div>
    <div class="footer-welcome-banner">
        <h3>Стани част от нашата общност</h3>
        <button [routerLink]="['/auth/register']" class="button-secondary">Регистрирай се</button>
        <img src="../../../../../assets/images/footer-community-image.svg" alt="Креативно общество">
    </div>
</div>
<created-for></created-for>
