@use '../../../../../assets/style/variables';
@use '../../../../../assets/style/typography';
@use '../../../../../assets/style/breakpoints';

.footer {
  background-color: variables.$tertiary-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &-heading{
    padding-block: 80px;
    padding-left: variables.$wrapper;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid variables.$primary-color;
    border-right: 1px solid variables.$primary-color;
    overflow: visible;

    h2 {
      font-weight: typography.$bold;
    }

    span {
      color: white;
    }

    p {
      width: 40ch;
      text-align: justify;
    }
  }

  &-links {
    padding-block: 80px;
    padding-left: variables.$wrapper;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-right: 1px solid variables.$primary-color;

    &-column {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h3 {
        margin-bottom: 15px;
        font-size: typography.$font-size-xl;
        font-weight: typography.$bold;
      }
    }
  }

  &-welcome-banner {
    position: relative;
    grid-row: span 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    h3 {
      width: 20ch;
      font-size: typography.$font-size-5xl;
      font-weight: typography.$bold;
      text-align: center;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

}

@include breakpoints.media-query(xs, lg) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    &-heading {
      padding-inline: variables.$wrapper-for-mobile;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-right: none;

      p {
        width: 100%;
      }
    }

    &-links {
      display: none;
    }

    &-welcome-banner {
      grid-row: 2;
      grid-column: 1;
      gap: 10px;

      h3 {
        font-size: typography.$font-size-3xl-m;
      }

      button {
        z-index: 10;
      }

      img {
        width: 40%;
        z-index: 1;
      }
    }
  }
}

@include breakpoints.media-query(lg, xxxl) {
  .footer-welcome-banner {

    h3 {
      font-size: typography.$font-size-xl-m;
    }

    img {
      display: none;
    }
  }
}
