<div class="navigation-menu anonymous-user" *ngIf="!isLogged">
  <img class="logo" src="../../../../../assets/images/logo.svg" alt="Умелико лого">
  <div class="auth-buttons">
    <a [routerLink]="['/auth/register']" class="button-primary">Регистрирай се</a>
    <a [routerLink]="['/auth/login']" class="button-secondary">Влез</a>
  </div>
</div>

<div class="navigation-menu logged-user" *ngIf="isLogged">
  <img class="logo"
       src="../../../../../assets/images/logo.svg"
       alt="Умелико лого"
       [routerLink]="'/materials/all'">
  <div class="search-holder" *ngIf="canRenderSearchBar">
    <form class="search"
          [formGroup]="searchForm"
          (ngSubmit)="search()">
      <div class="search-container">
          <!-- <div class="search-items">
              <label class="search-toggler">
                  Търси по:
                  <select class="search-options" formControlName="searchType">
                      <option value="title">по заглавие</option>
                      <option value="keyword">по ключова дума</option>
                      <option value="author">по автор</option>
                  </select>
              </label>
          </div> -->
          <input type="text" formControlName="query" placeholder="Въведи търсене...">
          <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button>
      </div>
  </form>
    <div class="results-container">
      <div *ngFor="let material of searchResult"  class="result-item" (click)="viewMaterial(material.id, material.contentType)">
        <img [src]="material.banner?.coverImageUrl">
        <p>{{ material.banner?.title }}</p>
        <p>{{ material.creator.username }}</p>
        <p class="view-material">Прегледай</p>
      </div>
    </div>
  </div>
  <div class="profile-info">
    <button class="button-secondary" routerLink="/profile/dashboard">+Създай</button>
    <p class="profile-info-username">{{ creator!.userName }}</p>
    <div class="profile-image">
        <img [src]="imageSrc || 'https://asset.cloudinary.com/dxqy3jgj3/d71ca9f8b155f63c63cf8ab427f76f87'"
             alt="your image"
             (click)="toggleOptions()"/>
        <div class="profile-options" [style.display]="optionsVisible ? 'block' : 'none'">
          <p [routerLink]="'/profile/dashboard'">Табло</p>
          <p [routerLink]="'/profile/mine'">Профил</p>
          <p [routerLink]="'/profile/edit'">Редакция</p>
          <p (click)="logout()">Излез</p>
        </div>
    </div>
    <a routerLink="/helping-center"><svg class="helping-center" xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#2b3467" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
    </a>
  </div>
</div>
