<div class="questions-and-answers-holder">
    <h2>Често задавани въпроси</h2>
    <div class="questions-and-answers">
        <div class="question-and-answer">
            <div class="question" (click)="expand('panel1', panel1)">
                <h3>Защо да използвам Умелико вместо други социални мрежи?</h3>
                <span *ngIf="!panelStates['panel1']">+</span>
                <span *ngIf="panelStates['panel1']">-</span>
            </div>
            <div #panel1 class="panel answer">
              <p>Това, което прави Умелико уникален, е че той обединява много възможности на едно място - той е социална мрежа, в която откриваш съмишленици, с които да се сприятелявате и харесвате своите материали, „онлайн вестник“ , в който потребителите могат да открият интригуващи заглавия по разнородни теми, както и онлайн платформа за учене, в която потребителите създават, споделят, провеждат и участват в онлайн уроци и курсове.</p>
            </div>
        </div>
        <div class="question-and-answer">
            <div class="question" (click)="expand('panel2', panel2)">
                <h3>Как мога да създам материал в Умелико?</h3>
                <span *ngIf="!panelStates['panel2']">+</span>
                <span *ngIf="panelStates['panel2']">-</span>
            </div>
            <div #panel2 class="panel answer">
              <p>Единственото нужно е да имате създаден профил. В страницата „Табло“ всеки потребител има възможност да избере между статия, урок или курс и чрез бутона „Създай“ той може да започне създаването на свой материал.</p>
            </div>
        </div>
        <div class="question-and-answer">
            <div class="question" (click)="expand('panel3', panel3)">
                <h3>Каква е ролята на „банер“ за създаването на материал?</h3>
                <span *ngIf="!panelStates['panel3']">+</span>
                <span *ngIf="panelStates['panel3']">-</span>
            </div>
            <div #panel3 class="panel answer">
              <p>Банерите са „рекламите“ на вашите материали. Те съдържат кратко описание на вашия материал - заглавие, ключови думи, описание, категория, подходящо ниво и заглавна снимка, които да приковат вниманието на другите потребители. Колкото по-интересно, толкова повече посетители ще имате на вашия материал.</p>
            </div>
        </div>
        <div class="question-and-answer">
            <div class="question" (click)="expand('panel4', panel4)">
                <h3>Мога ли да създам курс в Умелико?</h3>
                <span *ngIf="!panelStates['panel4']">+</span>
                <span *ngIf="panelStates['panel4']">-</span>
            </div>
            <div #panel4 class="panel answer">
              <p>Да, можете да създадете курс в Умелико. Отидете на опция „Курс“ и изберете „+“. Попълнете информацията за курса, разделете го на подраздели, поставете им подходящи заглавия и създайте и добавете уроци към тях. Също така можете да зададете цена за курса, ако искате да го предложите като платено съдържание.</p>
            </div>
        </div>
        <div class="question-and-answer">
            <div class="question" (click)="expand('panel5', panel5)">
                <h3>Как мога да общувам с други потребители в Умелико?</h3>
                <span *ngIf="!panelStates['panel5']">+</span>
                <span *ngIf="panelStates['panel5']">-</span>
            </div>
            <div #panel5 class="panel answer">
              <p>Умелико предлага различни начини за взаимодействие и комуникация, включително възможността за последване на интересни потребители, коментиране и харесване на съдържание, както и участие в дискусии и онлайн събития. Това позволява на потребителите не само да разширят своята социална мрежа, но и да споделят знания и опит с други ентусиасти.</p>
            </div>
        </div>
    </div>
</div>
