<div class="features-holder">
    <h2>Защо да избереш нас?</h2>
    <div class="features">
        <div class="features-column">
            <div class="features-column-list">
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Откриваш съмишленици</h3>
                </div>
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Получаваш знания</h3>
                </div>
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Споделяш опит</h3>
                </div>
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Изразяваш себе си</h3>
                </div>
            </div>
            <div class="features-column-image">
                <img src="../../../../../assets/images/login-image.svg">
            </div>
        </div>
        <div class="features-column reversed-column">
            <div class="features-column-list">
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Твориш</h3>
                </div>
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Развиваш се</h3>
                </div>
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Комуникираш</h3>
                </div>
                <div class="features-column-list-feature">
                    <img src="../../../../../assets/images/features-like-minded-people.svg" alt="Like-minded people">
                    <h3>Лесно е!</h3>
                </div>
            </div>
            <div class="features-column-image">
                <img src="../../../../../assets/images/register-image.svg">
            </div>
        </div>
    </div>
</div>
