// Colors
$primary-color: rgb(43, 52, 103);
$lighter-primary-color: #2B346726;
$secondary-color: #8ECDDD26;
$darker-secondary-color: rgba(142, 205, 221, 0.72);
$tertiary-color: #FFCC70;
$danger: #F4364C;
$approve: #A7D397;
$disapprove: #EB455F;
$draft: #999DA3;
$waiting: #999DA3;

// Margin and Paddings
$wrapper: 120px;
$wrapper-for-mobile: 50px;
