@use '../../../../assets/style/variables';
@use '../../../../assets/style/typography';

.page-not-found-holder {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(variables.$primary-color, variables.$tertiary-color);

  .page-not-found {

    &-text {
      margin-bottom: 20px;
      font-size: typography.$font-size-3xl;
    }

    .navigate-to-home {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }
}
