<div class="about-us">
    <div class="about-us-images">
        <div class="about-us-image small-first">
          <img src="../../../../../assets/images/about-us-image-one.svg" alt="За нас">
        </div>
        <div class="about-us-image small-second">
          <img src="../../../../../assets/images/register-image.svg" alt="За нас">
        </div>
        <div class="about-us-image wide">
          <img src="../../../../../assets/images/about-us-image-3.svg" alt="За нас">
        </div>
    </div>
    <div class="about-us-description">
        <h2>Кои сме ние?</h2>
        <p>Умелико е отворена социална мрежа, която обединява съмишленици в една любознателна общност. В нея те могат да открият интригуващи заглавия по разнородни теми или да разкрият скритите си таланти, създавайки съдържание – статии, уроци и курсове, по любимите си теми.</p>
        <p>Нашето приложение цели да преобърне представите на настоящото и бъдещето поколение за това какво значи да си “успешен”. То се грижи потребителите да прекарат времето си на 100% ползотворно и вместо да уморяват мозъка си в постоянно “скролване“ да го раздвижат със материалите, прихванали вниманието им.</p>
    </div>
</div>
