<p>Какво ще създаваш?</p>
<div class="options">
    <div class="option-material-type">
        <img class="material-image" alt="article-image" src="../../../../../../assets/images/article.svg">
        <h3>Статия</h3>
        <img class="add-material" src="../../../../../../assets/images/add.svg" alt="Добави статия"
             (click) = "routeToBanner('1')">
    </div>
    <div class="option-material-type">
        <img class="material-image" alt="lesson-image" src="../../../../../../assets/images/lesson.svg">
        <h3>Урок</h3>
        <img class="add-material" src="../../../../../../assets/images/add.svg" alt="Добави урок"
             (click) = "routeToBanner('2')">
    </div>
    <div class="option-material-type">
        <img class="material-image" alt="course-image" src="../../../../../../assets/images/course.svg">
        <h3>Курс</h3>
        <img class="add-material" src="../../../../../../assets/images/add.svg" alt="Добави курс" (click) = "routeToBanner('3')">
    </div>
</div>
